{% load static %}
{% for sciences in sciencess %}
<h1>mavzu: {{sciences.lesson}}</h1>

<h3>{{sciences.date}}</h3>
<h3>{{sciences.description}}</h3>
<a href="{{sciences.url}}">yuklash</a>

{% endfor %}