<h1>Mavzular ro`yxati</h1>


<table border="2px">
    <tr>
        <td>Lessons</td>
        <td>teachers</td>
        <td>date</td>
    </tr>
    {% for science in sciences %}
    <tr>
        <td><a href="{% url 'mathematics:lesson' science.id %}"><h3>{{science.lesson}}</h3></a></td>
        <td><h3>{{science.teacher}}</h3></td>
        <td><h3>{{science.date}}</h3></td>
    </tr>
    
    {% endfor %}
</table>