<h1>Fanlar ro`yxati</h1>
<a href="{% url 'mathematics:all_lesson' %}">matematika</a>    
<!-- bu yerdagi 'all_lesson',  mathematics/urls ichidagi name=all_lesson dan olingan-->
<a href="{% url 'philosophy:philosophy_all_lesson' %}">fizika</a>    
